/*自訂的css*/

/*讓div可以左右平行的class*/
.inlineBlock{
	display: inline-block;
}

/*商品左(有圖片的區域) div的class*/
.productPicDiv{
	width:  320px;
	height: 320px;
	width:  350px;
}

/*商品描述 div的class*/
.productDescriptDiv{
	word-wrap:break-word;/*自動換行*/
}

/*商品右 (按鈕)div的class*/
.productBtnDiv{
	width:  400;
	height: 400px;
}

/*商品右 名稱*/
.productTitle{
	font-size: 24px;
	font-weight: bold;
}

/*商品圖片的class*/
.imageProduct{
	max-width: 300px;
	max-height: : 300px;
}


/*編輯圖片的class*/
.imageModal{
	max-width: 150px!important; /*important強制覆蓋*/
	max-height: : 150px!important; /*important強制覆蓋*/
}

/*商品編輯視窗的 商品描述*/
#modal_edit_descript{
	max-width: 200px;
	word-wrap:break-word;/*自動換行*/
}

/*新增編輯 尺寸單價的input平行規格*/
.editInputs{
	width: 150px;
	display: inline-block;
}

/*尺寸刪除button外面那層div*/
.div_del{
	display: inline-block;
}

/*新增的那個加號*/
#add_create{
	font-size: 40px;
	color: #1cc88a;
	cursor: pointer;
}

/*購物車總價的div*/
.total_price{
	font-size: 30px;
	color: green;
}

/*購物車底部靠右的div*/
.cart_footer{
	text-align: right;
}

/*會員視窗 驗證Email按鈕欄的寬度*/
.width_50{
	width: 50px;
}


/*字型大小20px*/
.size_20{
	font-size: 20px;
}

/*綠色*/
.color_green{
	color:#4cae4c;
}

/*紅色*/
.color_red{
	color:#d9534f;
}